*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.navbar{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  font-weight: bolder;
  background-color: #66A4DE;
  
}


.form-container{
  width: 75%;
  margin-top: 12px;
  margin-left: 14rem;
  

}

.form-header{
  height: 48px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #e3f2fd;
  border-bottom: solid gray 1px ;
  padding: 6px 0  0 24px;

}

.form-check{
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn-submit{
  margin-top: 1.5rem;
}