*{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  justify-content: center;
}

.form-container{
  width: 60%;
}

.form-header{
  height: 48px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #e3f2fd;
  border-bottom: solid gray 1px ;
  padding: 6px 0  0 24px;

}

.form-check{
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn-submit{
  margin-top: 1.5rem;
}